<nav class="navbar navbar-expand-lg navbar-dark bg-dark mb-md-4">
  <a class="navbar-brand" href="#">SGA-UTPL</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto" *ngIf="identidad">
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/inicio']" [routerLinkActive]="['active']">Inicio <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Usuarios</a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" [routerLink]="['/registrarse']"> Registrar usuario</a>
          <a class="dropdown-item" [routerLink]="['/usuario']"> Listar usuarios</a>
        </div>
      </li>
      <!--<li class="nav-item">
        <a class="nav-link" [routerLink]="['/usuario']" [routerLinkActive]="['active']">Lista de usuarios</a>
      </li>-->
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/sala']" [routerLinkActive]="['active']">SALAS</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/acceso']" [routerLinkActive]="['active']">ACCESO</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/permisoRol']" [routerLinkActive]="['active']">PERMISO ROL</a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Roles</a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" [routerLink]="['/rol']" [routerLinkActive]="['active']"> Registrar rol</a>
          <a class="dropdown-item" [routerLink]="['/roles']"> Listar roles</a>
        </div>
      </li>
    </ul>
    <ul class="navbar-nav ml-auto" *ngIf="identidad">
      <li class="nav-item dropdown">
        <a href="#" class="nav-link dropdown-menu-right" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">{{identidad.firstName}} {{identidad.secondName}} <span class="caret"></span></a>
        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="#" (click)="cerrarSesion()"><i class="fas fa-sign-out-alt"></i> Cerrar sesión</a>
        </div>
      </li>
    </ul>
    <ul class="navbar-nav ml-auto" *ngIf="!identidad">
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/login']" [routerLinkActive]="['active']"><i class="fas fa-sign-in-alt"></i> Iniciar sesión <span class="sr-only">(current)</span></a>
      </li>
      <!--<li class="nav-item">
        <a class="nav-link" [routerLink]="['/registrarse']" [routerLinkActive]="['active']"><i class="fas fa-user"></i> Registrarse</a>
      </li>-->
    </ul>
  </div>
</nav>
<div class="container-fluid">
  <router-outlet></router-outlet>
</div>
